@use '@styles/_variables' as *;

.container {
	display: flex;
	gap: $spacingBase;
	justify-content: center;
}

.button {
	min-width: 80px;
	font-family: $fontFamily;
	border-radius: $borderRadiusBase;
}
