@use '@styles/_variables' as *;

.container {
  margin-bottom: calc($spacingLarge + $spacingBase);
}

.title {
  text-align: center;
  margin-bottom: $spacingMedium;
  font-size: calc($baseFontSize + 2px);
  color: $fontColor;
  font-family: $fontFamily;
  font-weight: $fontWeightMedium;
}

.languageSelector {
  display: flex;
  gap: $spacingMedium;
  justify-content: center;

  button {
    min-width: calc($spacingBase * 8);
    padding: $spacingSmall $spacingMedium;
    font-size: calc($baseFontSize - 2px);
  }
}

.authButtons {
  display: flex;
  gap: $spacingMedium;
  justify-content: center;

  button {
    min-width: calc($spacingBase * 10);
    padding: $spacingBase $spacingLarge;
    font-size: $baseFontSize;
  }
}
