$fontFamily: PT-Root-UI-VF, system-ui, Avenir, Helvetica, Arial, sans-serif;
$backgroundColor: #ffffff;
$fontWeightMedium: 500;
$accent: #ea5a0a;
$fontWeightRegular: 400;
$fontColor: #58646a;
$baseFontSize: 16px;